.navbar { /* Main Container */
  background-color: #333;
  color: #fff; 
  display: flex; /* Flex container to control layout */
  justify-content: flex-start; /* Space between the elements */
  align-items: center; /* Vertically center content */
  padding: 10px 25px; /* Padding for top and bottom, left and right */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional shadow for depth */
}

.navbar-logo {
  margin-right: 10px; /* Add spacing between the image and brand name */
}

.navbar-brand {
  font-size: xx-large; 
  font-weight: bold;
  padding-right: 5rem;
  text-transform: uppercase; 
  white-space: nowrap; /* Prevent text from wrapping */
}

.nav-links {
  display: flex; 
  font-size: large; 
  white-space: nowrap;
}

.nav-links a {
  text-decoration: none;
  color: inherit;
  margin: 0 0.4rem; /* Adjust spacing between links */
  padding: 0rem 1.5rem; /* Add padding to create boxes */
  border: 1px solid whitesmoke; /* Add a border */
  border-radius: 2px; /* Round the corners */
  transition: background-color 0.3s, border-color 0.3s; /* Smooth transitions on hover */
  text-align: center; /* Center text horizontally */
}

.nav-links a:hover {
  background-color: #555; /* lighten background color on hover*/
}

.nav-username {
  margin-right: inherit; /* Adjust spacing between links */
  padding: 0 1.5rem; /* Add padding to create space space */
  color: inherit;
  font-size: inherit;
  text-decoration: none; 
}

/* Button styles */
button.menu {
  text-decoration: none; 
  font: inherit;
  color: inherit;
  background-color: inherit; 
  padding: 0rem 1.5rem; /* Add padding to create boxes */
  border: 1px solid whitesmoke; /* Add a border */
  border-radius: 2px; /* Round the corners */
  cursor: pointer;  /* Cursor pointer on hover */
}

/* Remove the default focus outline */
button.menu:focus {
  outline: none;
}

button.menu:hover {
  text-decoration: none;
  background-color: #555; 
}
